<div class="form-container mat-elevtion-z5">
  <h1>Login form</h1>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Enter Email address</mat-label>
      <input matInput formControlName="email" [(ngModel)]="logindata.email" />
      <mat-error *ngIf="formcontrol['email']?.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="formcontrol['email']?.errors?.['pattern']">
        Please enter a correct email format
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter Password</mat-label>
      <input matInput formControlName="password" type="password" [(ngModel)]="logindata.password" />
      <mat-error *ngIf="formcontrol['password']?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <div class="center margin-top">
      <button mat-raised-button color="primary" (click)="login()" type="submit">
        Login
      </button>
    </div>
    <span class="signup-link">New to our platform?<a routerLink="/signup">Sign-up</a></span>
  </form>
</div>